/*.jumbotron {

}*/


#hotmain {
  display: none;
}

#hotdanger {
  display: none;
}


#hotsafe {
  display: none;
}

#coldmain {
  display: none;
}


#colddanger {
  display: none;
}


#coldsafe {
  display: none;
}
